.modalContainer {
  width: 300px;
  margin: auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}
.inputZip {
  height: 30px;
}
.btnSubmit {
  margin-left: 20px;
  background-color: #eb8634;
  color: #ffffff;
}